---
import Layout from '../layouts/Layout.astro';
import Experience from './partials/experience.astro';
import About from './partials/about.astro';
import Contact from './partials/contact.astro';
import Projects from './partials/projects.astro';
---

<Layout>
	<div class="space-y-10">

		<About />

		<Experience />
		
		<!-- <Projects /> -->
		
		<Contact />
	</div>
</Layout>
