---

---
<section class="rounded-xl py-2 mt-10">
  <h1 class="text-xs font-medium mb-5 text-slate-400">About my self</h1>
  <p>Full Stack Developer based in Agadir,</p>
  <p>I believe all businesses should have a solution that makes their life easier, even if just a little bit - that's what drives my passion for crafting web applications that solve real problems.</p>
  <!-- <p>My journey into tech wasn't traditional – I started studying law but discovered my true calling when I first wrote code. That led me to pivot careers and pursue a diploma in Computer Systems and Networks. Today, I channel that same curiosity into building full-stack solutions.</p> -->
</section>
