---
import { Image } from "astro:assets";
import face from '../../assets/face.jpg';
---
<section class="rounded-xl py-2">
  <h1 class="font-medium mb-5 text-slate-400">Projects</h1>
  <p>project</p>
</section>