---
import { Font } from 'astro:assets';
const { title = "Hassan Ben Haj Bouih - portfolio", ...props } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---
<title>{title}</title>

<link rel="canonical" href={canonicalURL} />
<link rel="sitemap" href="/sitemap-index.xml">
<meta name="description" content="A web developer building user-centered aapplications and business solutions. View my projects and let's build something amazing together.">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<meta charset="UTF-8" />
<meta name="description" content="A web developer building user-centered aapplications and business solutions. View my projects and let's build something amazing together." />
<meta name="keywords" content="web developer, Hassan Ben Haj Bouih, user-centered applications, business solutions, portfolio, web development" />
<meta name="author" content="Hassan Ben Haj Bouih" />
<meta name="robots" content="index, follow" />

<!-- Open Graph tags -->
<meta property="og:title" content="Hassan Ben Haj Bouih - Web developer" />
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:description" content="A web developer building user-centered web applications and business. View my projects and let's build something amazing together." />
<meta property="og:image" content="/seo_banner.webp" />
<meta property="og:image:alt" content="Hassan ben haj bouih website as a web developer">
<meta property="og:site_name" content="Hassan Ben Haj Bouih Portfolio" />
<meta property="og:locale" content="en_US" />

<!-- twitter meta card -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Hassan Ben Haj Bouih - Web developer" />
<meta name="twitter:description" content="A web developer building user-centered applications and business solutions. View my projects and let's build something amazing together." />
<meta name="twitter:image" content="/seo_banner.webp" />
<meta name="twitter:image:alt" content="Hassan ben haj bouih website as a web developer" />

<Font cssVariable="--font-sora" preload />
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Hassan Ben Haj Bouih",
  "jobTitle": "Web Developer",
  "url": "http://www.hassanbhb.com",
  "description": "A web developer building user-centered applications and business solutions"
}
</script>