---
import "../styles/global.css";
import Navigation from "./_partials/Navigation.astro"
import Head from "./Head.astro"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<Head />
	</head>
	<body class="bg-sky-50/10 text-sky-950 text-sm font-andika px-5">
		<div class="max-w-xl mx-auto space-y-2">
			<Navigation />
			<main>
				<slot />
			</main>
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
